In [2]:
# 1. module importing
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time

In [119]:
df1=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx', flavor='html5lib')

In [120]:
df1=df1[0]

In [121]:
df1

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,1,김현수,LG,0.362,117,511,453,95,164,39,2,20,267,101,0,10
1,2,양의지,두산,0.358,133,503,439,84,157,29,1,23,257,77,0,6
2,3,이정후,넥센,0.355,109,520,459,81,163,34,2,6,219,57,3,8
3,4,박병호,넥센,0.345,113,488,400,88,138,20,0,43,287,112,0,3
4,5,안치홍,KIA,0.342,130,549,494,88,169,38,1,23,278,118,0,9
5,6,전준우,롯데,0.342,144,614,556,118,190,36,2,33,329,90,1,2
6,7,김주찬,KIA,0.340,121,471,429,71,146,23,0,18,223,93,2,10
7,8,최형우,KIA,0.339,143,609,528,92,179,34,1,25,290,103,0,8
8,9,유한준,KT,0.339,121,480,428,59,145,21,1,20,228,83,2,1
9,10,김재환,두산,0.334,139,602,527,104,176,36,1,44,346,133,0,7
10,11,최주환,두산,0.333,138,590,519,87,173,39,6,26,302,108,0,10
11,11,이대호,롯데,0.333,144,604,543,81,181,30,0,37,322,125,0,4
12,13,구자욱,삼성,0.333,116,529,478,100,159,26,5,20,255,84,1,2
13,14,채은성,LG,0.331,139,578,529,78,175,36,2,25,290,119,0,5
14,15,러프,삼성,0.330,137,597,506,97,167,32,4,33,306,125,0,8
15,16,이재원,SK,0.329,130,471,407,63,134,24,0,17,209,57,4,5
16,17,손아섭,롯데,0.329,141,625,553,109,182,32,5,26,302,93,1,1
17,18,박건우,두산,0.326,125,529,488,79,159,24,6,12,231,84,1,2
18,19,허경민,두산,0.324,133,577,516,85,167,30,5,10,237,79,5,8
19,20,박민우,NC,0.324,115,460,411,68,133,22,5,5,180,33,3,4
20,21,나성범,NC,0.318,144,620,556,110,177,36,3,23,288,91,0,5
21,22,민병헌,롯데,0.318,118,494,443,74,141,21,0,17,213,66,2,6
22,23,로맥,SK,0.316,141,616,528,102,167,19,0,43,315,107,0,6
23,24,이형종,LG,0.316,118,485,437,83,138,27,0,13,204,42,5,0
24,25,오재원,두산,0.313,132,521,473,78,148,24,1,15,219,81,3,2
25,26,노수광,SK,0.313,135,588,515,93,161,21,8,8,222,53,9,3
26,27,김재호,두산,0.311,131,467,402,78,125,20,0,16,193,75,3,6
27,28,버나디나,KIA,0.310,131,590,513,106,159,25,3,20,250,70,3,1
28,29,호잉,한화,0.306,142,590,529,85,162,47,2,30,303,110,0,5
29,30,로하스,KT,0.305,144,645,564,114,172,30,1,43,333,114,1,2

In [182]:
df1.columns

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF'],
      dtype='object')

In [6]:
# 세부기록
df1_2=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic2.aspx', flavor='html5lib') 
df1_2=df1_2[0]
df1_2

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김현수,LG,0.362,47,6,1,61,9,0.589,0.415,1.004,48,0.419,0.000
1,2,양의지,두산,0.358,45,6,13,40,13,0.585,0.427,1.012,48,0.317,0.333
2,3,이정후,넥센,0.355,42,3,8,58,5,0.477,0.412,0.889,46,0.370,0.000
3,4,박병호,넥센,0.345,68,10,17,114,9,0.718,0.457,1.175,46,0.312,0.333
4,5,안치홍,KIA,0.342,36,1,10,57,13,0.563,0.392,0.955,53,0.403,0.333
5,6,전준우,롯데,0.342,48,1,7,82,12,0.592,0.400,0.992,59,0.379,0.300
6,7,김주찬,KIA,0.340,23,5,7,57,15,0.520,0.375,0.895,42,0.361,0.333
7,8,최형우,KIA,0.339,66,7,7,87,17,0.549,0.414,0.963,47,0.342,1.000
8,9,유한준,KT,0.339,47,3,2,53,9,0.533,0.406,0.939,46,0.385,0.100
9,10,김재환,두산,0.334,59,4,9,134,6,0.657,0.405,1.062,51,0.295,1.000
10,11,최주환,두산,0.333,51,1,10,89,5,0.582,0.397,0.979,50,0.368,0.250
11,11,이대호,롯데,0.333,43,7,14,75,18,0.593,0.394,0.987,55,0.307,0.444
12,13,구자욱,삼성,0.333,43,2,5,110,4,0.533,0.392,0.925,50,0.378,0.000
13,14,채은성,LG,0.331,35,1,9,97,12,0.548,0.379,0.927,54,0.362,0.000
14,15,러프,삼성,0.330,65,0,18,107,17,0.605,0.419,1.024,52,0.366,0.000
15,16,이재원,SK,0.329,43,0,12,65,13,0.514,0.405,0.919,40,0.308,0.400
16,17,손아섭,롯데,0.329,68,1,2,99,15,0.546,0.404,0.950,55,0.360,0.333
17,18,박건우,두산,0.326,28,1,10,65,14,0.473,0.373,0.846,47,0.373,0.500
18,19,허경민,두산,0.324,32,0,16,52,15,0.459,0.376,0.835,48,0.350,0.250
19,20,박민우,NC,0.324,32,3,10,51,4,0.438,0.383,0.821,34,0.362,0.667
20,21,나성범,NC,0.318,44,4,15,131,11,0.518,0.381,0.899,53,0.319,0.000
21,22,민병헌,롯데,0.318,35,3,8,68,10,0.481,0.374,0.855,45,0.283,0.250
22,23,로맥,SK,0.316,72,0,10,123,7,0.597,0.404,1.001,48,0.297,0.000
23,24,이형종,LG,0.316,31,0,12,82,6,0.467,0.377,0.844,37,0.292,0.364
24,25,오재원,두산,0.313,41,0,2,119,13,0.463,0.369,0.832,35,0.338,0.000
25,26,노수광,SK,0.313,48,0,13,86,3,0.431,0.383,0.814,50,0.316,0.667
26,27,김재호,두산,0.311,52,1,4,77,12,0.480,0.390,0.870,32,0.350,0.500
27,28,버나디나,KIA,0.310,63,3,10,103,9,0.487,0.395,0.882,40,0.290,0.000
28,29,호잉,한화,0.306,51,10,5,93,5,0.573,0.369,0.942,43,0.335,0.500
29,30,로하스,KT,0.305,71,4,7,142,10,0.590,0.388,0.978,50,0.322,0.000

In [3]:
# 2. driver경로설정
driverpath =  'C:/Users/USER/Downloads/chromedriver_win32/chromedriver.exe'
dr = webdriver.Chrome(driverpath)

In [4]:
# url 주소 설정
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo2').click()

In [5]:
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df2_table = data.find_element_by_tag_name('table').text
df2_table

'순위 선수명 팀명 AVG G PA AB R H 2B 3B HR TB RBI SAC SF\n1 김현수 LG 0.362 117 511 453 95 164 39 2 20 267 101 0 10\n2 양의지 두산 0.358 133 503 439 84 157 29 1 23 257 77 0 6\n3 이정후 넥센 0.355 109 520 459 81 163 34 2 6 219 57 3 8\n4 박병호 넥센 0.345 113 488 400 88 138 20 0 43 287 112 0 3\n5 안치홍 KIA 0.342 130 549 494 88 169 38 1 23 278 118 0 9\n6 전준우 롯데 0.342 144 614 556 118 190 36 2 33 329 90 1 2\n7 김주찬 KIA 0.340 121 471 429 71 146 23 0 18 223 93 2 10\n8 최형우 KIA 0.339 143 609 528 92 179 34 1 25 290 103 0 8\n9 유한준 KT 0.339 121 480 428 59 145 21 1 20 228 83 2 1\n10 김재환 두산 0.334 139 602 527 104 176 36 1 44 346 133 0 7\n11 최주환 두산 0.333 138 590 519 87 173 39 6 26 302 108 0 10\n11 이대호 롯데 0.333 144 604 543 81 181 30 0 37 322 125 0 4\n13 구자욱 삼성 0.333 116 529 478 100 159 26 5 20 255 84 1 2\n14 채은성 LG 0.331 139 578 529 78 175 36 2 25 290 119 0 5\n15 러프 삼성 0.330 137 597 506 97 167 32 4 33 306 125 0 8\n16 이재원 SK 0.329 130 471 407 63 134 24 0 17 209 57 4 5\n17 손아섭 롯데 0.329 141 625 553 109 182 32 5 26 302 93 1 1\n18 박건우 두산 0.326 125 529 488 79 159 24 6 12 231 84 1 2\n19 허경민 두산 0.324 133 577 516 85 167 30 5 10 237 79 5 8\n20 박민우 NC 0.324 115 460 411 68 133 22 5 5 180 33 3 4\n21 나성범 NC 0.318 144 620 556 110 177 36 3 23 288 91 0 5\n22 민병헌 롯데 0.318 118 494 443 74 141 21 0 17 213 66 2 6\n23 로맥 SK 0.316 141 616 528 102 167 19 0 43 315 107 0 6\n24 이형종 LG 0.316 118 485 437 83 138 27 0 13 204 42 5 0\n25 오재원 두산 0.313 132 521 473 78 148 24 1 15 219 81 3 2\n26 노수광 SK 0.313 135 588 515 93 161 21 8 8 222 53 9 3\n27 김재호 두산 0.311 131 467 402 78 125 20 0 16 193 75 3 6\n28 버나디나 KIA 0.310 131 590 513 106 159 25 3 20 250 70 3 1\n29 호잉 한화 0.306 142 590 529 85 162 47 2 30 303 110 0 5\n30 로하스 KT 0.305 144 645 564 114 172 30 1 43 333 114 1 2'

In [6]:
df2_rows = np.array(str(df2_table.split('\n')[1]).split(' ')).reshape(1,16)
df2_rows.shape

(1, 16)

In [183]:
columns = df1.columns
df2 = pd.DataFrame(columns=columns)
for i in range(1,31):
    df2_rows = np.array(str(df2_table.split('\n')[i]).split(' ')).reshape(1,16)
    df2 = df2.append(pd.DataFrame(df2_rows,columns=columns), ignore_index=True)
df2

In [193]:
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()

In [194]:
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df3_table = data.find_element_by_tag_name('table').text
df3_table

'순위 선수명 팀명 AVG G PA AB R H 2B 3B HR TB RBI SAC SF\n61 김동엽 SK 0.252 124 446 421 58 106 15 0 27 202 76 1 3\n62 최정 SK 0.244 115 489 406 95 99 16 1 35 222 74 0 2'

In [197]:
columns = df1.columns
df3 = pd.DataFrame(columns=columns)
for i in range(1,3):
    df3_rows = np.array(str(df3_table.split('\n')[i]).split(' ')).reshape(1,16)
    df3 = df3.append(pd.DataFrame(df3_rows,columns=columns), ignore_index=True)
df3

   순위  선수명  팀명    AVG    G   PA   AB   R    H  2B 3B  HR   TB RBI SAC SF
0  61  김동엽  SK  0.252  124  446  421  58  106  15  0  27  202  76   1  3
1  62   최정  SK  0.244  115  489  406  95   99  16  1  35  222  74   0  2

In [208]:
kbo_record=pd.concat([df1,df2,df3])
kbo_record.to_excel("KBO_record.xlsx", encoding='utf-8', index=False)

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김현수,LG,0.362,47,6,1,61,9,0.589,0.415,1.004,48,0.419,0.000
1,2,양의지,두산,0.358,45,6,13,40,13,0.585,0.427,1.012,48,0.317,0.333
2,3,이정후,넥센,0.355,42,3,8,58,5,0.477,0.412,0.889,46,0.370,0.000
3,4,박병호,넥센,0.345,68,10,17,114,9,0.718,0.457,1.175,46,0.312,0.333
4,5,안치홍,KIA,0.342,36,1,10,57,13,0.563,0.392,0.955,53,0.403,0.333
5,6,전준우,롯데,0.342,48,1,7,82,12,0.592,0.400,0.992,59,0.379,0.300
6,7,김주찬,KIA,0.340,23,5,7,57,15,0.520,0.375,0.895,42,0.361,0.333
7,8,최형우,KIA,0.339,66,7,7,87,17,0.549,0.414,0.963,47,0.342,1.000
8,9,유한준,KT,0.339,47,3,2,53,9,0.533,0.406,0.939,46,0.385,0.100
9,10,김재환,두산,0.334,59,4,9,134,6,0.657,0.405,1.062,51,0.295,1.000
10,11,최주환,두산,0.333,51,1,10,89,5,0.582,0.397,0.979,50,0.368,0.250
11,11,이대호,롯데,0.333,43,7,14,75,18,0.593,0.394,0.987,55,0.307,0.444
12,13,구자욱,삼성,0.333,43,2,5,110,4,0.533,0.392,0.925,50,0.378,0.000
13,14,채은성,LG,0.331,35,1,9,97,12,0.548,0.379,0.927,54,0.362,0.000
14,15,러프,삼성,0.330,65,0,18,107,17,0.605,0.419,1.024,52,0.366,0.000
15,16,이재원,SK,0.329,43,0,12,65,13,0.514,0.405,0.919,40,0.308,0.400
16,17,손아섭,롯데,0.329,68,1,2,99,15,0.546,0.404,0.950,55,0.360,0.333
17,18,박건우,두산,0.326,28,1,10,65,14,0.473,0.373,0.846,47,0.373,0.500
18,19,허경민,두산,0.324,32,0,16,52,15,0.459,0.376,0.835,48,0.350,0.250
19,20,박민우,NC,0.324,32,3,10,51,4,0.438,0.383,0.821,34,0.362,0.667
20,21,나성범,NC,0.318,44,4,15,131,11,0.518,0.381,0.899,53,0.319,0.000
21,22,민병헌,롯데,0.318,35,3,8,68,10,0.481,0.374,0.855,45,0.283,0.250
22,23,로맥,SK,0.316,72,0,10,123,7,0.597,0.404,1.001,48,0.297,0.000
23,24,이형종,LG,0.316,31,0,12,82,6,0.467,0.377,0.844,37,0.292,0.364
24,25,오재원,두산,0.313,41,0,2,119,13,0.463,0.369,0.832,35,0.338,0.000
25,26,노수광,SK,0.313,48,0,13,86,3,0.431,0.383,0.814,50,0.316,0.667
26,27,김재호,두산,0.311,52,1,4,77,12,0.480,0.390,0.870,32,0.350,0.500
27,28,버나디나,KIA,0.310,63,3,10,103,9,0.487,0.395,0.882,40,0.290,0.000
28,29,호잉,한화,0.306,51,10,5,93,5,0.573,0.369,0.942,43,0.335,0.500
29,30,로하스,KT,0.305,71,4,7,142,10,0.590,0.388,0.978,50,0.322,0.000

In [8]:
pitcher=pd.read_html('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
pitcher=pitcher[0]
pitcher.to_excel('KBO_record_pitcher.xlsx', encoding='utf-8', index=False)

In [122]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx')
defense=defense[0]
defense.columns

Index(['순위', '선수명', '팀명', 'POS', 'G', 'GS', 'IP', 'E', 'PKO', 'PO', 'A', 'DP',
       'FPCT', 'PB', 'SB', 'CS', 'CS%'],
      dtype='object')

In [247]:
position1 = defense[['순위','선수명','팀명', 'POS']]
position1

    순위   선수명   팀명  POS
0    1   오지환   LG  유격수
1    2   나성범   NC  우익수
2    3   하주석   한화  유격수
3    3   박해민   삼성  중견수
4    5   채은성   LG  우익수
5    6   이용규   한화  중견수
6    7   허경민   두산  3루수
7    7    번즈   롯데  2루수
8    7    로맥   SK  1루수
9    7   로하스   KT  중견수
10  11    호잉   한화  우익수
11  11   김헌곤   삼성  좌익수
12  13  버나디나  KIA  중견수
13  13   김재호   두산  유격수
14  15   손아섭   롯데  우익수
15  15   박경수   KT  2루수
16  17   김선빈  KIA  유격수
17  17   유강남   LG   포수
18  17   김하성   넥센  유격수
19  17   임병욱   넥센  중견수
20  17   최재훈   한화   포수
21  22   황재균   KT  3루수
22  23   오재원   두산  2루수
23  23   장성우   KT   포수
24  25   김민식  KIA   포수
25  26   김상수   삼성  유격수
26  26   윤석민   KT  1루수
27  28   이재원   SK   포수
28  28   이원석   삼성  3루수
29  30   양의지   두산   포수

In [225]:
driverpath =  'C:/Users/USER/Downloads/chromedriver_win32/chromedriver.exe'
dr = webdriver.Chrome(driverpath)
dr.get('https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo2').click()

In [226]:
list = dr.find_elements_by_class_name('record_result')
for data in list:
    defense2_table = data.find_element_by_tag_name('table').text
defense2_table

'순위 선수명 팀명 POS G GS IP E PKO PO A DP FPCT PB SB CS CS%\n31 전준우 롯데 좌익수 117 109 929 2/3 3 0 174 3 0 0.983 0 0 0 -\n32 김재환 두산 좌익수 116 116 926 2/3 4 0 181 8 0 0.979 0 0 0 -\n32 김재현 넥센 포수 116 69 625 4 0 525 26 5 0.993 5 34 12 26.1\n34 오재일 두산 1루수 115 107 939 2/3 4 0 878 53 92 0.996 0 0 0 -\n34 스크럭스 NC 1루수 115 113 962 1/3 11 0 848 55 94 0.988 0 0 0 -\n36 심우준 KT 유격수 114 92 793 13 0 174 270 72 0.972 0 0 0 -\n37 양석환 LG 3루수 113 109 882 11 0 72 171 15 0.957 0 0 0 -\n37 러프 삼성 1루수 113 111 953 1/3 6 0 847 65 88 0.993 0 0 0 -\n39 최형우 KIA 좌익수 112 108 840 2/3 4 0 189 3 1 0.980 0 0 0 -\n40 김혜성 넥센 2루수 111 94 818 2/3 12 0 192 312 72 0.977 0 0 0 -\n41 안치홍 KIA 2루수 110 105 867 2/3 8 0 204 276 68 0.984 0 0 0 -\n41 문규현 롯데 유격수 110 83 726 1/3 13 0 105 237 46 0.963 0 0 0 -\n41 김성욱 NC 중견수 110 88 788 0 0 217 8 2 1.000 0 0 0 -\n44 최정 SK 3루수 109 104 901 2/3 11 0 64 184 17 0.958 0 0 0 -\n44 김민성 넥센 3루수 109 104 895 2/3 7 0 69 163 27 0.971 0 0 0 -\n44 강민호 삼성 포수 109 106 857 2/3 8 1 753 35 7 0.990 4 63 20 24.1\n47 박민우 NC 2루수 106 102 827 2/3 8 0 242 257 73 0.984 0 0 0 -\n48 나종덕 롯데 포수 105 62 548 1/3 4 0 537 30 7 0.993 7 40 19 32.2\n49 정범모 NC 포수 103 78 619 2/3 4 0 526 40 4 0.993 6 39 19 32.8\n50 한동민 SK 우익수 102 92 755 1/3 1 0 186 5 0 0.995 0 0 0 -\n51 이범호 KIA 3루수 101 92 728 4 0 51 142 12 0.980 0 0 0 -\n51 박병호 넥센 1루수 101 101 841 2/3 11 0 821 57 77 0.988 0 0 0 -\n53 김주찬 KIA 1루수 100 95 771 3 0 741 31 76 0.996 0 0 0 -\n54 이명기 KIA 우익수 99 93 743 2/3 2 0 181 4 1 0.989 0 0 0 -\n54 채태인 롯데 1루수 99 78 696 1/3 4 0 630 52 62 0.994 0 0 0 -\n54 정주현 LG 2루수 99 95 765 1/3 15 0 167 250 46 0.965 0 0 0 -\n57 민병헌 롯데 중견수 98 89 770 2/3 1 0 180 3 1 0.995 0 0 0 -\n58 박건우 두산 중견수 95 93 777 1/3 1 0 184 1 1 0.995 0 0 0 -\n59 김성현 SK 2루수 94 72 666 2/3 8 0 143 208 54 0.978 0 0 0 -\n59 송광민 한화 3루수 94 89 738 1/3 10 0 48 149 18 0.952 0 0 0 -'

In [227]:
defense2_table.split('\n')[1].split()[0:4]

['31', '전준우', '롯데', '좌익수']

In [228]:
columns = defense.columns[0:4]
position = pd.DataFrame(columns=columns)
columns

Index(['순위', '선수명', '팀명', 'POS'], dtype='object')

In [229]:
for i in range(1,31):
    position_rows = np.array(defense2_table.split('\n')[i].split()[0:4]).reshape(1,4)
    position = position.append(pd.DataFrame(position_rows, columns=columns))
position

   순위   선수명   팀명  POS
0  31   전준우   롯데  좌익수
0  32   김재환   두산  좌익수
0  32   김재현   넥센   포수
0  34   오재일   두산  1루수
0  34  스크럭스   NC  1루수
0  36   심우준   KT  유격수
0  37   양석환   LG  3루수
0  37    러프   삼성  1루수
0  39   최형우  KIA  좌익수
0  40   김혜성   넥센  2루수
0  41   안치홍  KIA  2루수
0  41   문규현   롯데  유격수
0  41   김성욱   NC  중견수
0  44    최정   SK  3루수
0  44   김민성   넥센  3루수
0  44   강민호   삼성   포수
0  47   박민우   NC  2루수
0  48   나종덕   롯데   포수
0  49   정범모   NC   포수
0  50   한동민   SK  우익수
0  51   이범호  KIA  3루수
0  51   박병호   넥센  1루수
0  53   김주찬  KIA  1루수
0  54   이명기  KIA  우익수
0  54   채태인   롯데  1루수
0  54   정주현   LG  2루수
0  57   민병헌   롯데  중견수
0  58   박건우   두산  중견수
0  59   김성현   SK  2루수
0  59   송광민   한화  3루수

In [231]:
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()
list = dr.find_elements_by_class_name('record_result')
for data in list:
    defense3_table = data.find_element_by_tag_name('table').text
defense3_table

'순위 선수명 팀명 POS G GS IP E PKO PO A DP FPCT PB SB CS CS%\n59 구자욱 삼성 우익수 94 93 789 2/3 4 0 164 11 1 0.978 0 0 0 -\n62 김용의 LG 1루수 89 36 435 1/3 1 0 397 34 30 0.998 0 0 0 -\n63 이성우 SK 포수 88 31 360 2/3 0 0 315 18 6 1.000 1 19 9 32.1\n64 이형종 LG 중견수 86 83 662 1/3 0 0 181 5 1 1.000 0 0 0 -\n65 지성준 한화 포수 84 48 433 3 0 400 31 6 0.993 4 31 8 20.5\n66 신본기 롯데 유격수 83 59 522 2/3 11 0 81 166 36 0.957 0 0 0 -\n67 한동희 롯데 3루수 80 57 505 12 0 36 91 11 0.914 0 0 0 -\n67 김동엽 SK 좌익수 80 71 580 1/3 3 0 102 3 0 0.972 0 0 0 -\n67 나주환 SK 유격수 80 70 590 2/3 11 0 93 192 41 0.963 0 0 0 -\n70 김강민 SK 중견수 79 62 561 2 0 126 2 0 0.985 0 0 0 -\n71 주효상 넥센 포수 78 43 366 2/3 2 0 290 26 6 0.994 1 27 15 35.7\n71 초이스 넥센 우익수 78 75 664 1/3 2 0 122 3 1 0.984 0 0 0 -\n71 유한준 KT 우익수 78 74 606 0 0 119 1 0 1.000 0 0 0 -\n74 손주인 삼성 2루수 76 67 512 1/3 5 0 105 175 35 0.982 0 0 0 -\n75 권희동 NC 좌익수 75 54 491 1/3 0 0 124 4 2 1.000 0 0 0 -\n75 김현수 LG 좌익수 75 56 518 2/3 0 0 119 2 1 1.000 0 0 0 -\n75 강한울 삼성 2루수 75 52 495 2/3 4 0 109 154 42 0.985 0 0 0 -\n78 류지혁 두산 유격수 74 29 336 4 0 71 109 30 0.978 0 0 0 -\n78 김규민 넥센 좌익수 74 43 441 2/3 4 0 101 5 0 0.964 0 0 0 -\n80 박세혁 두산 포수 73 32 366 2/3 2 1 283 23 3 0.994 2 15 7 31.8\n80 신본기 롯데 3루수 73 52 434 8 0 31 79 12 0.932 0 0 0 -\n80 이지영 삼성 포수 73 36 389 1/3 4 0 366 21 5 0.990 3 32 8 20.0\n80 박기혁 KT 유격수 73 38 361 3 0 56 124 31 0.984 0 0 0 -\n84 오현택 롯데 투수 72 0 64 2/3 0 0 4 12 2 1.000 0 0 0 -\n84 이해창 KT 포수 72 36 353 2/3 2 1 277 31 4 0.994 3 33 11 25.0\n86 노진혁 NC 유격수 71 48 437 2/3 6 0 65 142 27 0.972 0 0 0 -\n86 강백호 KT 좌익수 71 67 535 1/3 6 0 111 7 1 0.952 0 0 0 -\n88 노진혁 NC 3루수 70 57 467 9 0 34 111 12 0.942 0 0 0 -\n88 최충연 삼성 투수 70 0 85 0 0 2 6 0 1.000 0 0 0 -\n90 강윤구 NC 투수 69 0 54 2/3 3 0 0 3 0 0.500 0 0 0 -'

In [233]:
for i in range(1,31):
    position_rows = np.array(defense3_table.split('\n')[i].split()[0:4]).reshape(1,4)
    position = position.append(pd.DataFrame(position_rows, columns=columns))
position

    순위   선수명   팀명  POS
0   31   전준우   롯데  좌익수
0   32   김재환   두산  좌익수
0   32   김재현   넥센   포수
0   34   오재일   두산  1루수
0   34  스크럭스   NC  1루수
0   36   심우준   KT  유격수
0   37   양석환   LG  3루수
0   37    러프   삼성  1루수
0   39   최형우  KIA  좌익수
0   40   김혜성   넥센  2루수
0   41   안치홍  KIA  2루수
0   41   문규현   롯데  유격수
0   41   김성욱   NC  중견수
0   44    최정   SK  3루수
0   44   김민성   넥센  3루수
0   44   강민호   삼성   포수
0   47   박민우   NC  2루수
0   48   나종덕   롯데   포수
0   49   정범모   NC   포수
0   50   한동민   SK  우익수
0   51   이범호  KIA  3루수
0   51   박병호   넥센  1루수
0   53   김주찬  KIA  1루수
0   54   이명기  KIA  우익수
0   54   채태인   롯데  1루수
0   54   정주현   LG  2루수
0   57   민병헌   롯데  중견수
0   58   박건우   두산  중견수
0   59   김성현   SK  2루수
0   59   송광민   한화  3루수
..  ..   ...  ...  ...
0   59   구자욱   삼성  우익수
0   62   김용의   LG  1루수
0   63   이성우   SK   포수
0   64   이형종   LG  중견수
0   65   지성준   한화   포수
0   66   신본기   롯데  유격수
0   67   한동희   롯데  3루수
0   67   김동엽   SK  좌익수
0   67   나주환   SK  유격수
0   70   김강민   SK  중견수
0   71   주효상   넥센   포수
0   71   초이스   넥센  우익수
0   71   유한준   KT  우익수
0   74   손주인   삼성  2루수
0   75   권희동   NC  좌익수
0   75   김현수   LG  좌익수
0   75   강한울   삼성  2루수
0   78   류지혁   두산  유격수
0   78   김규민   넥센  좌익수
0   80   박세혁   두산   포수
0   80   신본기   롯데  3루수
0   80   이지영   삼성   포수
0   80   박기혁   KT  유격수
0   84   오현택   롯데   투수
0   84   이해창   KT   포수
0   86   노진혁   NC  유격수
0   86   강백호   KT  좌익수
0   88   노진혁   NC  3루수
0   88   최충연   삼성   투수
0   90   강윤구   NC   투수

[90 rows x 4 columns]

In [235]:
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo4').click()
list = dr.find_elements_by_class_name('record_result')
for data in list:
    defense4_table = data.find_element_by_tag_name('table').text
for i in range(1,31):
    position_rows = np.array(defense4_table.split('\n')[i].split()[0:4]).reshape(1,4)
    position = position.append(pd.DataFrame(position_rows, columns=columns))
position

     순위   선수명   팀명  POS
0    31   전준우   롯데  좌익수
0    32   김재환   두산  좌익수
0    32   김재현   넥센   포수
0    34   오재일   두산  1루수
0    34  스크럭스   NC  1루수
0    36   심우준   KT  유격수
0    37   양석환   LG  3루수
0    37    러프   삼성  1루수
0    39   최형우  KIA  좌익수
0    40   김혜성   넥센  2루수
0    41   안치홍  KIA  2루수
0    41   문규현   롯데  유격수
0    41   김성욱   NC  중견수
0    44    최정   SK  3루수
0    44   김민성   넥센  3루수
0    44   강민호   삼성   포수
0    47   박민우   NC  2루수
0    48   나종덕   롯데   포수
0    49   정범모   NC   포수
0    50   한동민   SK  우익수
0    51   이범호  KIA  3루수
0    51   박병호   넥센  1루수
0    53   김주찬  KIA  1루수
0    54   이명기  KIA  우익수
0    54   채태인   롯데  1루수
0    54   정주현   LG  2루수
0    57   민병헌   롯데  중견수
0    58   박건우   두산  중견수
0    59   김성현   SK  2루수
0    59   송광민   한화  3루수
..  ...   ...  ...  ...
0    90   박상원   한화   투수
0    92   김현수   LG  1루수
0    92   송은범   한화   투수
0    92   정은원   한화  2루수
0    95   박치국   두산   투수
0    96   손시헌   NC  유격수
0    96   노수광   SK  중견수
0    96   이천웅   LG  좌익수
0    96   정찬헌   LG   투수
0    96   진해수   LG   투수
0    96   양성우   한화  좌익수
0   102   김강률   두산   투수
0   102   정상호   LG   포수
0   104   김윤동  KIA   투수
0   104   구승민   롯데   투수
0   104   이보근   넥센   투수
0   107   강경학   한화  2루수
0   107   이태양   한화   투수
0   109   함덕주   두산   투수
0   109   김재윤   KT   투수
0   111   정진호   두산  좌익수
0   111   김태훈   SK   투수
0   111   오주원   넥센   투수
0   114   안중열   롯데   포수
0   114   진명호   롯데   투수
0   114   김형준   NC   포수
0   114   장필준   삼성   투수
0   118   한승택  KIA   포수
0   118   이명우   롯데   투수
0   118   원종현   NC   투수

[150 rows x 4 columns]

In [237]:
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo5').click()
list = dr.find_elements_by_class_name('record_result')
for data in list:
    defense5_table = data.find_element_by_tag_name('table').text
for i in range(1,31):
    position_rows = np.array(defense5_table.split('\n')[i].split()[0:4]).reshape(1,4)
    position = position.append(pd.DataFrame(position_rows, columns=columns))
position

     순위   선수명   팀명  POS
0    31   전준우   롯데  좌익수
0    32   김재환   두산  좌익수
0    32   김재현   넥센   포수
0    34   오재일   두산  1루수
0    34  스크럭스   NC  1루수
0    36   심우준   KT  유격수
0    37   양석환   LG  3루수
0    37    러프   삼성  1루수
0    39   최형우  KIA  좌익수
0    40   김혜성   넥센  2루수
0    41   안치홍  KIA  2루수
0    41   문규현   롯데  유격수
0    41   김성욱   NC  중견수
0    44    최정   SK  3루수
0    44   김민성   넥센  3루수
0    44   강민호   삼성   포수
0    47   박민우   NC  2루수
0    48   나종덕   롯데   포수
0    49   정범모   NC   포수
0    50   한동민   SK  우익수
0    51   이범호  KIA  3루수
0    51   박병호   넥센  1루수
0    53   김주찬  KIA  1루수
0    54   이명기  KIA  우익수
0    54   채태인   롯데  1루수
0    54   정주현   LG  2루수
0    57   민병헌   롯데  중견수
0    58   박건우   두산  중견수
0    59   김성현   SK  2루수
0    59   송광민   한화  3루수
..  ...   ...  ...  ...
0   118   강승호   SK  2루수
0   118   심창민   삼성   투수
0   123   노수광   SK  좌익수
0   123   안익훈   LG  중견수
0   123   김상수   넥센   투수
0   123   이성열   한화  1루수
0   127   조수행   두산  우익수
0   127   손승락   롯데   투수
0   129   고우석   LG   투수
0   129    서균   한화   투수
0   129   홍성용   KT   투수
0   132   임기준  KIA   투수
0   132   김승회   두산   투수
0   132   김사훈   롯데   포수
0   132   김범수   한화   투수
0   132   정우람   한화   투수
0   132   엄상백   KT   투수
0   132   오태곤   KT  좌익수
0   139   정진호   두산  우익수
0   139   신재웅   SK   투수
0   141   이우성   NC  좌익수
0   141    최항   SK  2루수
0   141   장영석   넥센  1루수
0   141   안영명   한화   투수
0   141   김성훈   삼성  2루수
0   146   이명기  KIA  좌익수
0   146   이정후   넥센  우익수
0   148   정영일   SK   투수
0   149   김진성   NC   투수
0   149   이민호   NC   투수

[210 rows x 4 columns]

In [251]:
batter_position = pd.concat([position1, position])
batter_position.to_excel('batter_position.xlsx', encoding='utf-8', index=False)

In [132]:
columns = defense.columns
defense2_table = pd.DataFrame(columns=columns)
for i in range(1,31):
    df2_rows = np.array(str(df2_table.split('\n')[i]).split(' ')).reshape(1,18)
    df2 = df2.append(pd.DataFrame(df2_rows,columns=columns), ignore_index=True)
df2

ValueError: Shape of passed values is (18, 1), indices imply (17, 1)

In [112]:
df2_row = pd.DataFrame(df2_table.split('\n')[1].split(' ')).T

   0    1   2    3    4    5    6    7  8  9    10 11 12     13 14 15 16 17
0  31  전준우  롯데  좌익수  117  109  929  2/3  3  0  174  3  0  0.983  0  0  0  -

In [10]:
np.array(str(df2_table.split('\n')[1]).split(' ')).reshape(1,18)

array([['1', '오지환', 'LG', '유격수', '143', '142', '1198', '2/3', '24', '0',
        '211', '409', '74', '0.963', '0', '0', '0', '-']], dtype='<U5')

In [97]:
df2_rows = np.array(str(df2_table.split('\n')[i]).split(' '))
df2_rows

array(['48', '나종덕', '롯데', '포수', '105', '62', '548', '1/3', '4', '0',
       '537', '30', '7', '0.993', '7', '40', '19', '32.2'], dtype='<U5')

In [103]:
i=0
feature=[]
while 1:
    df2_rows = df2_table('\n')[i]
    if i == 6 :
        tmp = df2_rows[i] + ' ' +df2_rows[i+1]
        feature.append(tmp)
        i=8
    else :
        feature.append(df2_rows[i])
    i+=1
    
    if i == len(df2_rows) :
        break;
print(feature)

['48', '나종덕', '롯데', '포수', '105', '62', '548 1/3', '0', '537', '30', '7', '0.993', '7', '40', '19', '32.2']

In [102]:
test0 = pd.DataFrame(feature).T
test1 = pd.DataFrame(feature).T
pd.concat([test0, test1])

   0    1   2   3    4   5        6  7    8   9  10     11 12  13  14    15
0  48  나종덕  롯데  포수  105  62  548 1/3  0  537  30  7  0.993  7  40  19  32.2
0  48  나종덕  롯데  포수  105  62  548 1/3  0  537  30  7  0.993  7  40  19  32.2

In [51]:

a =pd.concat([test0, test1])
 
a.columns = columns

#a.shape
#len(columns)

17

In [ ]:
if len(df2_rows) == 17 :
        print(df2_rows[i]
    else if i == 6:
        print(df2_rows[6]+' '+df2_rows[7])

In [11]:
df2_rows.shape

(18,)

In [48]:
columns = defense.columns
columns

Index(['순위', '선수명', '팀명', 'POS', 'G', 'GS', 'IP', 'E', 'PKO', 'PO', 'A', 'DP',
       'FPCT', 'PB', 'SB', 'CS', 'CS%'],
      dtype='object')

In [38]:
columns = defense.columns
df2 = pd.DataFrame(columns=columns)
for i in range(1,30):
    df2_rows = np.array(str(df2_table.split('\n')[i]).split(' '))
    for i in range(len(df2_rows)) :
        if len(df2_rows) == 17 :
            print(df2_rows[i])
        else :
            print(df2_rows[6]+' '+df2_rows[7])
    df2 = df2.append(pd.DataFrame(df2_rows,columns=columns), ignore_index=True)

1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3
1198 2/3

ValueError: Shape of passed values is (1, 18), indices imply (17, 18)

In [ ]:
defense.to_excel('KBO_record_defense.xlsx', encoding='utf-8', index=False)

In [ ]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx')
defense=defense[0]
defense.to_excel('KBO_record_defense.xlsx', encoding='utf-8', index=False)