In [2]:
# 1. module importing
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time

In [119]:
df1=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx', flavor='html5lib')

In [120]:
df1=df1[0]

In [121]:
df1

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,1,김현수,LG,0.362,117,511,453,95,164,39,2,20,267,101,0,10
1,2,양의지,두산,0.358,133,503,439,84,157,29,1,23,257,77,0,6
2,3,이정후,넥센,0.355,109,520,459,81,163,34,2,6,219,57,3,8
3,4,박병호,넥센,0.345,113,488,400,88,138,20,0,43,287,112,0,3
4,5,안치홍,KIA,0.342,130,549,494,88,169,38,1,23,278,118,0,9
5,6,전준우,롯데,0.342,144,614,556,118,190,36,2,33,329,90,1,2
6,7,김주찬,KIA,0.340,121,471,429,71,146,23,0,18,223,93,2,10
7,8,최형우,KIA,0.339,143,609,528,92,179,34,1,25,290,103,0,8
8,9,유한준,KT,0.339,121,480,428,59,145,21,1,20,228,83,2,1
9,10,김재환,두산,0.334,139,602,527,104,176,36,1,44,346,133,0,7
10,11,최주환,두산,0.333,138,590,519,87,173,39,6,26,302,108,0,10
11,11,이대호,롯데,0.333,144,604,543,81,181,30,0,37,322,125,0,4
12,13,구자욱,삼성,0.333,116,529,478,100,159,26,5,20,255,84,1,2
13,14,채은성,LG,0.331,139,578,529,78,175,36,2,25,290,119,0,5
14,15,러프,삼성,0.330,137,597,506,97,167,32,4,33,306,125,0,8
15,16,이재원,SK,0.329,130,471,407,63,134,24,0,17,209,57,4,5
16,17,손아섭,롯데,0.329,141,625,553,109,182,32,5,26,302,93,1,1
17,18,박건우,두산,0.326,125,529,488,79,159,24,6,12,231,84,1,2
18,19,허경민,두산,0.324,133,577,516,85,167,30,5,10,237,79,5,8
19,20,박민우,NC,0.324,115,460,411,68,133,22,5,5,180,33,3,4
20,21,나성범,NC,0.318,144,620,556,110,177,36,3,23,288,91,0,5
21,22,민병헌,롯데,0.318,118,494,443,74,141,21,0,17,213,66,2,6
22,23,로맥,SK,0.316,141,616,528,102,167,19,0,43,315,107,0,6
23,24,이형종,LG,0.316,118,485,437,83,138,27,0,13,204,42,5,0
24,25,오재원,두산,0.313,132,521,473,78,148,24,1,15,219,81,3,2
25,26,노수광,SK,0.313,135,588,515,93,161,21,8,8,222,53,9,3
26,27,김재호,두산,0.311,131,467,402,78,125,20,0,16,193,75,3,6
27,28,버나디나,KIA,0.310,131,590,513,106,159,25,3,20,250,70,3,1
28,29,호잉,한화,0.306,142,590,529,85,162,47,2,30,303,110,0,5
29,30,로하스,KT,0.305,144,645,564,114,172,30,1,43,333,114,1,2

In [182]:
df1.columns

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF'],
      dtype='object')

In [3]:
# 2. driver경로설정
driverpath =  'C:/Users/USER/Downloads/chromedriver_win32/chromedriver.exe'
dr = webdriver.Chrome(driverpath)

In [4]:
# url 주소 설정
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo2').click()

In [5]:
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df2_table = data.find_element_by_tag_name('table').text
df2_table

'순위 선수명 팀명 AVG G PA AB R H 2B 3B HR TB RBI SAC SF\n1 김현수 LG 0.362 117 511 453 95 164 39 2 20 267 101 0 10\n2 양의지 두산 0.358 133 503 439 84 157 29 1 23 257 77 0 6\n3 이정후 넥센 0.355 109 520 459 81 163 34 2 6 219 57 3 8\n4 박병호 넥센 0.345 113 488 400 88 138 20 0 43 287 112 0 3\n5 안치홍 KIA 0.342 130 549 494 88 169 38 1 23 278 118 0 9\n6 전준우 롯데 0.342 144 614 556 118 190 36 2 33 329 90 1 2\n7 김주찬 KIA 0.340 121 471 429 71 146 23 0 18 223 93 2 10\n8 최형우 KIA 0.339 143 609 528 92 179 34 1 25 290 103 0 8\n9 유한준 KT 0.339 121 480 428 59 145 21 1 20 228 83 2 1\n10 김재환 두산 0.334 139 602 527 104 176 36 1 44 346 133 0 7\n11 최주환 두산 0.333 138 590 519 87 173 39 6 26 302 108 0 10\n11 이대호 롯데 0.333 144 604 543 81 181 30 0 37 322 125 0 4\n13 구자욱 삼성 0.333 116 529 478 100 159 26 5 20 255 84 1 2\n14 채은성 LG 0.331 139 578 529 78 175 36 2 25 290 119 0 5\n15 러프 삼성 0.330 137 597 506 97 167 32 4 33 306 125 0 8\n16 이재원 SK 0.329 130 471 407 63 134 24 0 17 209 57 4 5\n17 손아섭 롯데 0.329 141 625 553 109 182 32 5 26 302 93 1 1\n18 박건우 두산 0.326 125 529 488 79 159 24 6 12 231 84 1 2\n19 허경민 두산 0.324 133 577 516 85 167 30 5 10 237 79 5 8\n20 박민우 NC 0.324 115 460 411 68 133 22 5 5 180 33 3 4\n21 나성범 NC 0.318 144 620 556 110 177 36 3 23 288 91 0 5\n22 민병헌 롯데 0.318 118 494 443 74 141 21 0 17 213 66 2 6\n23 로맥 SK 0.316 141 616 528 102 167 19 0 43 315 107 0 6\n24 이형종 LG 0.316 118 485 437 83 138 27 0 13 204 42 5 0\n25 오재원 두산 0.313 132 521 473 78 148 24 1 15 219 81 3 2\n26 노수광 SK 0.313 135 588 515 93 161 21 8 8 222 53 9 3\n27 김재호 두산 0.311 131 467 402 78 125 20 0 16 193 75 3 6\n28 버나디나 KIA 0.310 131 590 513 106 159 25 3 20 250 70 3 1\n29 호잉 한화 0.306 142 590 529 85 162 47 2 30 303 110 0 5\n30 로하스 KT 0.305 144 645 564 114 172 30 1 43 333 114 1 2'

In [6]:
df2_rows = np.array(str(df2_table.split('\n')[1]).split(' ')).reshape(1,16)
df2_rows.shape

(1, 16)

In [183]:
columns = df1.columns
df2 = pd.DataFrame(columns=columns)
for i in range(1,31):
    df2_rows = np.array(str(df2_table.split('\n')[i]).split(' ')).reshape(1,16)
    df2 = df2.append(pd.DataFrame(df2_rows,columns=columns), ignore_index=True)
df2

In [193]:
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()

In [194]:
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df3_table = data.find_element_by_tag_name('table').text
df3_table

'순위 선수명 팀명 AVG G PA AB R H 2B 3B HR TB RBI SAC SF\n61 김동엽 SK 0.252 124 446 421 58 106 15 0 27 202 76 1 3\n62 최정 SK 0.244 115 489 406 95 99 16 1 35 222 74 0 2'

In [197]:
columns = df1.columns
df3 = pd.DataFrame(columns=columns)
for i in range(1,3):
    df3_rows = np.array(str(df3_table.split('\n')[i]).split(' ')).reshape(1,16)
    df3 = df3.append(pd.DataFrame(df3_rows,columns=columns), ignore_index=True)
df3

   순위  선수명  팀명    AVG    G   PA   AB   R    H  2B 3B  HR   TB RBI SAC SF
0  61  김동엽  SK  0.252  124  446  421  58  106  15  0  27  202  76   1  3
1  62   최정  SK  0.244  115  489  406  95   99  16  1  35  222  74   0  2

In [208]:
kbo_record=pd.concat([df1,df2,df3])
kbo_record.to_excel("KBO_record.xlsx", encoding='utf-8', index=False)

In [8]:
pitcher=pd.read_html('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
pitcher=pitcher[0]
pitcher.to_excel('KBO_record_pitcher.xlsx', encoding='utf-8', index=False)

In [50]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx')
defense=defense[0]
defense

,순위,선수명,팀명,POS,G,GS,IP,E,PKO,PO,A,DP,FPCT,PB,SB,CS,CS%
0,1,오지환,LG,유격수,143,142,1198 2/3,24,0,211,409,74,0.963,0,0,0,-
1,2,나성범,NC,우익수,142,142,1220,3,0,288,9,2,0.990,0,0,0,-
2,3,하주석,한화,유격수,141,132,1142 2/3,18,0,194,348,80,0.968,0,0,0,-
3,3,박해민,삼성,중견수,141,134,1198 2/3,2,0,344,4,1,0.994,0,0,0,-
4,5,채은성,LG,우익수,135,134,1147 2/3,3,0,264,8,1,0.989,0,0,0,-
5,6,이용규,한화,중견수,133,128,1069 2/3,6,0,260,5,2,0.978,0,0,0,-
6,7,허경민,두산,3루수,132,121,1046,7,0,87,226,29,0.978,0,0,0,-
7,7,번즈,롯데,2루수,132,127,1073,22,0,260,360,81,0.966,0,0,0,-
8,7,로맥,SK,1루수,132,124,1078 2/3,8,0,1026,68,90,0.993,0,0,0,-
9,7,로하스,KT,중견수,132,130,1127 2/3,3,0,258,7,0,0.989,0,0,0,-
10,11,호잉,한화,우익수,130,129,1098 2/3,3,0,240,9,1,0.988,0,0,0,-
11,11,김헌곤,삼성,좌익수,130,115,1039 1/3,0,0,232,14,5,1.000,0,0,0,-
12,13,버나디나,KIA,중견수,129,124,1026 2/3,3,0,250,5,1,0.988,0,0,0,-
13,13,김재호,두산,유격수,129,114,939,12,0,154,285,66,0.973,0,0,0,-
14,15,손아섭,롯데,우익수,127,125,1068 2/3,4,0,245,5,2,0.984,0,0,0,-
15,15,박경수,KT,2루수,127,122,1016,14,0,283,381,111,0.979,0,0,0,-
16,17,김선빈,KIA,유격수,126,115,962,12,0,163,293,62,0.974,0,0,0,-
17,17,유강남,LG,포수,126,109,952,7,0,783,53,9,0.992,6,78,26,25.0
18,17,김하성,넥센,유격수,126,124,1071 2/3,13,0,206,396,69,0.979,0,0,0,-
19,17,임병욱,넥센,중견수,126,97,911 2/3,5,0,227,2,0,0.979,0,0,0,-
20,17,최재훈,한화,포수,126,95,830 2/3,5,0,747,48,14,0.994,7,52,25,32.5
21,22,황재균,KT,3루수,125,123,1040 1/3,17,0,68,221,32,0.944,0,0,0,-
22,23,오재원,두산,2루수,122,116,966,16,0,236,305,81,0.971,0,0,0,-
23,23,장성우,KT,포수,122,107,894 2/3,9,0,744,50,5,0.989,17,64,21,24.7
24,25,김민식,KIA,포수,121,100,844,4,1,708,51,6,0.995,6,71,19,21.1
25,26,김상수,삼성,유격수,120,120,989,16,0,164,288,68,0.966,0,0,0,-
26,26,윤석민,KT,1루수,120,115,954 1/3,7,0,881,54,108,0.993,0,0,0,-
27,28,이재원,SK,포수,119,109,846 2/3,11,2,774,48,6,0.987,5,72,18,20.0
28,28,이원석,삼성,3루수,119,117,965 2/3,9,0,87,173,13,0.967,0,0,0,-
29,30,양의지,두산,포수,118,108,861 2/3,3,0,703,52,8,0.996,5,46,28,37.8

In [7]:
driverpath =  'C:/Users/USER/Downloads/chromedriver_win32/chromedriver.exe'
dr = webdriver.Chrome(driverpath)
dr.get('https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo2').click()

In [8]:
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df2_table = data.find_element_by_tag_name('table').text
df2_table

'순위 선수명 팀명 POS G GS IP E PKO PO A DP FPCT PB SB CS CS%\n1 오지환 LG 유격수 143 142 1198 2/3 24 0 211 409 74 0.963 0 0 0 -\n2 나성범 NC 우익수 142 142 1220 3 0 288 9 2 0.990 0 0 0 -\n3 하주석 한화 유격수 141 132 1142 2/3 18 0 194 348 80 0.968 0 0 0 -\n3 박해민 삼성 중견수 141 134 1198 2/3 2 0 344 4 1 0.994 0 0 0 -\n5 채은성 LG 우익수 135 134 1147 2/3 3 0 264 8 1 0.989 0 0 0 -\n6 이용규 한화 중견수 133 128 1069 2/3 6 0 260 5 2 0.978 0 0 0 -\n7 허경민 두산 3루수 132 121 1046 7 0 87 226 29 0.978 0 0 0 -\n7 번즈 롯데 2루수 132 127 1073 22 0 260 360 81 0.966 0 0 0 -\n7 로맥 SK 1루수 132 124 1078 2/3 8 0 1026 68 90 0.993 0 0 0 -\n7 로하스 KT 중견수 132 130 1127 2/3 3 0 258 7 0 0.989 0 0 0 -\n11 호잉 한화 우익수 130 129 1098 2/3 3 0 240 9 1 0.988 0 0 0 -\n11 김헌곤 삼성 좌익수 130 115 1039 1/3 0 0 232 14 5 1.000 0 0 0 -\n13 버나디나 KIA 중견수 129 124 1026 2/3 3 0 250 5 1 0.988 0 0 0 -\n13 김재호 두산 유격수 129 114 939 12 0 154 285 66 0.973 0 0 0 -\n15 손아섭 롯데 우익수 127 125 1068 2/3 4 0 245 5 2 0.984 0 0 0 -\n15 박경수 KT 2루수 127 122 1016 14 0 283 381 111 0.979 0 0 0 -\n17 김선빈 KIA 유격수 126 115 962 12 0 163 293 62 0.974 0 0 0 -\n17 유강남 LG 포수 126 109 952 7 0 783 53 9 0.992 6 78 26 25.0\n17 김하성 넥센 유격수 126 124 1071 2/3 13 0 206 396 69 0.979 0 0 0 -\n17 임병욱 넥센 중견수 126 97 911 2/3 5 0 227 2 0 0.979 0 0 0 -\n17 최재훈 한화 포수 126 95 830 2/3 5 0 747 48 14 0.994 7 52 25 32.5\n22 황재균 KT 3루수 125 123 1040 1/3 17 0 68 221 32 0.944 0 0 0 -\n23 오재원 두산 2루수 122 116 966 16 0 236 305 81 0.971 0 0 0 -\n23 장성우 KT 포수 122 107 894 2/3 9 0 744 50 5 0.989 17 64 21 24.7\n25 김민식 KIA 포수 121 100 844 4 1 708 51 6 0.995 6 71 19 21.1\n26 김상수 삼성 유격수 120 120 989 16 0 164 288 68 0.966 0 0 0 -\n26 윤석민 KT 1루수 120 115 954 1/3 7 0 881 54 108 0.993 0 0 0 -\n28 이재원 SK 포수 119 109 846 2/3 11 2 774 48 6 0.987 5 72 18 20.0\n28 이원석 삼성 3루수 119 117 965 2/3 9 0 87 173 13 0.967 0 0 0 -\n30 양의지 두산 포수 118 108 861 2/3 3 0 703 52 8 0.996 5 46 28 37.8'

In [44]:
np.array(str(df2_table.split('\n')[1]).split(' ')).reshape(1,18)

array([['31', '전준우', '롯데', '좌익수', '117', '109', '929', '2/3', '3', '0',
        '174', '3', '0', '0.983', '0', '0', '0', '-']], dtype='<U5')

In [10]:
df2_rows = np.array(str(df2_table.split('\n')[1]).split(' '))
df2_rows

array(['1', '오지환', 'LG', '유격수', '143', '142', '1198', '2/3', '24', '0',
       '211', '409', '74', '0.963', '0', '0', '0', '-'], dtype='<U5')

In [11]:
df2_rows.shape

(18,)

In [48]:
columns = defense.columns
columns

Index(['순위', '선수명', '팀명', 'POS', 'G', 'GS', 'IP', 'E', 'PKO', 'PO', 'A', 'DP',
       'FPCT', 'PB', 'SB', 'CS', 'CS%'],
      dtype='object')

In [49]:
columns = defense.columns
df2 = pd.DataFrame(columns=columns)
for i in range(1,30):
    df2_rows = np.array(str(df2_table.split('\n')[i]).split(' ')).reshape(1,18)
    df2 = df2.append(pd.DataFrame(df2_rows,columns=columns), ignore_index=True)

ValueError: Shape of passed values is (18, 1), indices imply (17, 1)

In [ ]:
defense.to_excel('KBO_record_defense.xlsx', encoding='utf-8', index=False)

In [ ]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx')
defense=defense[0]
defense.to_excel('KBO_record_defense.xlsx', encoding='utf-8', index=False)